
		<div class="list-grid">
          
            <div class="list-grid-content">
                <div class="list-grid-img">
                   <a href="{{ card_product.url | default: '#' }}"> <img
                srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | img_url: 'master' }} {{ card_product.featured_media.width }}w"
                src="{{ card_product.featured_media | img_url: '533x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
                                                    ></a>

              {%- if card_product.media[1] != nil and show_secondary_image -%}
                <a href="{{ card_product.url | default: '#' }}"><img
                  srcset="{%- if card_product.media[1].width >= 165 -%}{{ card_product.media[1] | img_url: '165x' }} 165w,{%- endif -%}
                    {%- if card_product.media[1].width >= 360 -%}{{ card_product.media[1] | img_url: '360x' }} 360w,{%- endif -%}
                    {%- if card_product.media[1].width >= 533 -%}{{ card_product.media[1] | img_url: '533x' }} 533w,{%- endif -%}
                    {%- if card_product.media[1].width >= 720 -%}{{ card_product.media[1] | img_url: '720x' }} 720w,{%- endif -%}
                    {%- if card_product.media[1].width >= 940 -%}{{ card_product.media[1] | img_url: '940x' }} 940w,{%- endif -%}
                    {%- if card_product.media[1].width >= 1066 -%}{{ card_product.media[1] | img_url: '1066x' }} 1066w,{%- endif -%}
                    {{ card_product.media[1] | img_url: 'master' }} {{ card_product.media[1].width }}w"
                  src="{{ card_product.media[1] | img_url: '533x' }}"
                  sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                  alt="{{ card_product.media[1].alt | escape }}"
                  class="motion-reduce"
                  loading="lazy"
                  width="{{ card_product.media[1].width }}"
                  height="{{ card_product.media[1].height }}"
                                                ></a>
              {%- endif -%}
                    <div class="card-social-icon card-social-icon1">
                    {%- assign current_variant = card_product.selected_or_first_available_variant -%}          
         
          
          {% comment %}
          {% assign product_qty = 0 %}
{% for variant in card_product.variants %}
  {% if variant.inventory_quantity > 0 %}
    {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
  {% endif %}
{% endfor %}

{% if product_qty > 0 %}
<form method="post" action="/cart/add">
<div class="product-form__buttons">
         <a class="active"> <button
                  type="submit"
                  name="add"
                  class="product-form__submit button button--full-width button--secondary"
                  {% if product_card_product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                  >
            
            <i class="fas fa-shopping-cart"></i>
           </button></a>
          
        </div>
            <input type="hidden" name="id" value="{{ card_product.variants.first.id }}" />
  <input  type="hidden" id="quantity" name="quantity" value="1"/>

</form>
{% else %}
In Stock Soon.
{% endif %}
                      {% endcomment %}
                      <a href="{{ card_product.url | default: '#' }}" class="active"><i class="fas fa-shopping-cart"></i></a>
       
                         {% assign count = card_product.id %}
              <a href="javascript:void(0);" class="popup-button" onClick="openPopup('#wrap_popup1{{count}}')"><i class="fas fa-search-plus"></i></a>
              
                <!-- Popup -->
              
                
<div id="wrap_popup1{{count}}" class="wrap_popup">
   
		<div class="popup">
			<div class="box">
              <img
                srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                  {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                  {{ card_product.featured_media | img_url: 'master' }} {{ card_product.featured_media.width }}w"
                src="{{ card_product.featured_media | img_url: '533x' }}"
                sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                alt="{{ card_product.featured_media.alt | escape }}"
                class="motion-reduce"
                {% unless lazy_load == false %}loading="lazy"{% endunless %}
                width="{{ card_product.featured_media.width }}"
                height="{{ card_product.featured_media.height }}"
                                              >
                                        
				<center><button class="close-popup" onClick="closePopup('#wrap_popup1{{count}}')">X</center>
			</div>
		</div>
	</div>
                    </div>
                </div>
                <div class="list-grid-text">
              <h3><a href="{{ card_product.url | default: '#' }}" class="full-unstyled-link">
                {{ card_product.title | escape }}
              </a></h3>
                    <p>
                      <a href="{{ card_product.url | default: '#' }}"><span class="first1"></span></a>
                      <a href="{{ card_product.url | default: '#' }}"><span class="first2"></span></a>
              		  <a href="{{ card_product.url | default: '#' }}"><span class="first3"></span></a>
                      		  {% for option in product.options %}
                                {% if option == "Color" or option == "Colour" %}
                                  {% assign index = forloop.index0 %}
                                  {% assign colorlist = '' %}
                                  {% assign color = '' %}
                                  {% for variant in product.variants %}
                                    {% capture color %}
                                      {{ variant.options[index] }}
                                    {% endcapture %}
                                    {% unless colorlist contains color %}
                                       <a href="{{ variant.url }}"><p class="card-back card-back1" style="background:{{color}};"></p></a>

                                      {% capture tempList %}
                                        {{colorlist | append: color | append: ' '}}
                                      {% endcapture %}
                                      {% assign colorlist = tempList %}
                                    {% endunless %}
                                  {% endfor %}
                                {% endif %}
                              {% endfor %}
                  	</p>
                    <p class="grid-decription">Lorem ipsum dolor sit amet, consectetur accusantium assumenda odit neque! Dicta, quos perferendis quas veniam dignissimos nam.</p>
                  <p>{{ product.description }}</p>
                  {% render 'price', product: card_product, price_class: '' %}
                </div>
            </div>
          
        </div>
	
          
          <script>
          
          function openPopup(divPopup) {
	$(divPopup).fadeIn(250);
}

function closePopup(divPopup) {
	$(divPopup).fadeOut(250);
}
          
          </script>