<style>
.accordion__header {
	padding: 1em;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid #E7D7D7;
    border-radius: 10px;
}
.accordion__header h2{
	font-family: var(--josefin-font);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #000000;  
}

.accordion__toggle {
	margin-left: 10px;
	height: 3px;
	background-color: #222;
	width: 13px;
	display: block;
	position: relative;
	flex-shrink: 1;
	border-radius: 2px;
}

.accordion__toggle::before {
	content: "";
	width: 3px;
	height: 13px;
	display: block;
	background-color: #222;
	position: absolute;
	top: -5px;
	left: 5px;
	border-radius: 2px;
}


.is-active .accordion__toggle::before {
	display: none;
}


.accordion__body {
	display: none;
	padding: 2em;
    border: 1px solid #E7D7D7;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
}
.accordion__body.is-active {
	display: block;
}
</style>
{% comment %}
<section class="pro-tab">
         <div class="container">
            <div class="tabbedPanels">  <!-- begins the tabbed panels / wrapper-->
 
                <ul class="tabs">
                 <li><a href="#panel1" class="">Description</a></li>
                 <li><a href="#panel2" class="">Additional Info</a></li>
                 <li><a href="#panel3" class="">Reviews</a></li>
                 <li><a href="#panel4" class="active">Video</a></li>
                </ul>
               
               <div class="panelContainer">
               <div id="panel1" class="panel" style="display: none;">
                 {{ product.metafields.my_fields.description_tab}}
               
            </div>  <!-- end panel 1 -->
               
               
               <div id="panel2" class="panel" style="display: none;">
                    {{ product.metafields.my_fields.additional_info}}
               </div> <!-- end panel 2 -->
               
               
               <div id="panel3" class="panel" style="display: none;">
                 {{ product.metafields.my_fields._reviews}}
                
               </div>  <!-- end panel 3 -->
               
               <div id="panel4" class="panel" style="">
                 {{ product.metafields.my_fields.video}}
                   
               </div>  <!-- end panel 4 -->
               
               </div> <!-- end div class="panelContainer" or panel wrapper -->
               
               </div> <!-- ends the tabbed panels / wrapper-->
               
               
         </div>
     </section>
{% endcomment %}

 	<div class="accordion pro-tab">
        <div class="accordion__header is-active">
            <h2>Description</h2>
            <span class="accordion__toggle"></span>
        </div>
        <div class="accordion__body panel is-active">
             {{ product.metafields.my_fields.description_tab}}
        </div>
        <div class="accordion__header">
            <h2>Additional Info</h2>
            <span class="accordion__toggle"></span>
        </div>
        <div class="accordion__body panel">
             {{ product.metafields.my_fields.additional_info}}
        </div>
        <div class="accordion__header">
            <h2>Reviews</h2>
            <span class="accordion__toggle"></span>
        </div>
        <div class="accordion__body panel">
            {{ product.metafields.my_fields._reviews}}       
        </div>
        <div class="accordion__header">
            <h2>Video</h2>
            <span class="accordion__toggle"></span>
        </div>
        <div class="accordion__body">
            {{ product.metafields.my_fields.video}}
        </div>
    </div>






<script>

// $(document).ready(function() {
    
//     //alert('here');
  
//   $('.tabs a').click(function(){
  
//      $('.panel').hide();
//      $('.tabs a.active').removeClass('active');
//      $(this).addClass('active');
     
//      var panel = $(this).attr('href');
//      $(panel).fadeIn(1000);
     
//      return false;  // prevents link action
    
//   });  // end click 

//      $('.tabs li:first a').click();
     
// }); // end ready
  
  
  
     $('.accordion__header').click(function(e) {
        e.preventDefault();
        var currentIsActive = $(this).hasClass('is-active');
        $(this).parent('.accordion').find('> *').removeClass('is-active');
        if(currentIsActive != 1) {
            $(this).addClass('is-active');
            $(this).next('.accordion__body').addClass('is-active');
        }
    });
</script>